<?xml version="1.0"?>
<config>
    <modules>
        <Ip_Sitemaphtml>
            <version>1.0.0</version>
        </Ip_Sitemaphtml>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sitemaphtml>
                    <file>ip_sitemaphtml.xml</file>
                </sitemaphtml>
            </updates>
        </layout>
        <routers>
            <sitemaphtml>
                <use>standard</use>
                <args>
                    <module>Ip_Sitemaphtml</module>
                    <frontName>sitemaphtml</frontName>
                </args>
            </sitemaphtml>
        </routers>
    </frontend>
    <admin>
        <routers>
            <sitemaphtml>
                <use>admin</use>
                <args>
                    <module>Ip_Sitemaphtml</module>
                    <frontName>sitemaphtml</frontName>
                </args>
            </sitemaphtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sitemaphtml>
                                            <title>Sitemaphtml</title>
                                            <sort_order>101</sort_order>
                                        </sitemaphtml>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <global>
        <models>
            <sitemaphtml>
                <class>Ip_Sitemaphtml_Model</class>
            </sitemaphtml>
        </models>
        <blocks>
            <sitemaphtml>
                <class>Ip_Sitemaphtml_Block</class>
            </sitemaphtml>
        </blocks>
        <helpers>
            <sitemaphtml>
                <class>Ip_Sitemaphtml_Helper</class>
            </sitemaphtml>
        </helpers>
    </global>
    <default>
        <sitemap>
            <frontend>
                <page>1</page>
                <category>1</category>
                <product>1</product>
                <footer_link>1</footer_link>
            </frontend>
        </sitemap>
    </default>
</config>