.sitemaphtml-navigation a {
    font-size: 14px;
    color: #E26703;
    font-weight: bold;
    width: 20%;
    text-align: left;
    display: block;
    float: left;
    padding-left: 33px;

    }

.sitemaphtml-navigation {
    float: left;
    width: 100%;
    border: 1px solid #BBAFA0;
    background: #FAF7EE;
    padding: 5px 0px;
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.51);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.51);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.51);
    }


.sitemaphtml-h3 {
    color: black;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;    
}



/*///*/
.sitemaphtml-data .fieldset {
    border: 1px solid #BBAFA0;
    background: #FBFAF6;
    padding: 22px 25px 12px 33px;
    margin: 28px 0 0;
    }

.sitemaphtml-data .fieldset .legend {
    float: left;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #F19900;
    background: #F9F3E3;
    color: #E76200;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative;
    }
    
.sitemaphtml-data {
    clear: both;
    margin-top: 0;
    float: left;
    width: 100%;     
    }    
